<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH HEROES</title>
 <style>
body{
    background:rgb(14, 160, 14);
    font-family:Arial, Helvetica, sans-serif ;
          }
          #conteiner{
            width: 1100px;
            margin: 0px auto;
            border: 1px solid rgb(15, 15, 15);
            background: rgb(96, 114, 122);
            text-align: center;
            color: black;
          }
        

 </style> 
</head>
<body>
<div id="conteiner">;

<header>
  <h1>DH HEROES</h1>  

</header>
<nav>
<ul>
<li>
  <a href="http://localhost:3030/Babbage"target ="_blank">
    BABBAGE
  </a>
  <br/>
  <br/>
  <a href="http://localhost:3030/berners-lee"target ="_blank">
    BERNES-LEE
  </a>
  <br/>
  <br/>
  <a href="http://localhost:3030/Clarke"target ="_blank">
    CLARKE
    <br/>
  <br/>
    <a href="http://localhost:3030/hamilton"target ="_blank">
      HAMILTON
      <br/>
  <br/>
      <a href="http://localhost:3030/hopper"target ="_blank">
        HOPPER
        <br/>
        <br/>
  <a href="http://localhost:3030/Lovelace"target ="_blank">
    LOVELACE
    <br/>
    <br/>
  <a href="http://localhost:3030/turing"target ="_blank">
    TURING
</li>

</ul>


</nav>

</article>

  </section>

  
</div>

</body>

</html>